body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Navigation Bar */

#home {
  background-color:  rgb(12, 162, 237);
  padding-bottom: 1cm;
  margin-left:-1cm;
  margin-right:-1cm;
  margin-top:-1cm;
  padding-top: 2cm;
  padding-bottom: 2cm;
  height: 5mm;
 }

.topmenu {
  color: lightgray;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  text-decoration:none;
}

.topmenu:hover {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  text-decoration: underline;
}

.topdiv {
  float: right;
  padding-right: 1cm;
}

.profile_name {
  float: left;
  padding-left: 2cm;
  font-size: 30px;
  font-style: italic;
  letter-spacing: -1px;
  color: white;
  padding-top: -30px;
}

.profile_name .contact_info {
  font-size: 15px;
  font-style: italic;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.contact_info img {
  width:25px;
  margin-right: 10px;
  float:left;
}

/* Titles */

h2 {
  text-align: justify;
  font-size: 50px;
  text-align: center;
  float: left;
  color:  rgb(12, 162, 237);
  margin: 30px;
  margin-left: 60px;
  margin-top: 40px;
  margin-bottom: 0px;
}

.introduction {
  text-align: justify;
  font-size: 30px;
  text-align: center;
  float: left;
  margin-top: 30px;
  margin-bottom: 20px;
  animation-duration: 5s;
  position: relative;
}

/* Used in the About Me sections */

.container {
  display: flex;
}

/* About Me */

.about-me {
  display: flex;
  align-items: center;
}

#about-me h1 {
  font-size: 65px;
  margin-top: 90px;
  color:  rgb(12, 162, 237);
}

#about-me p {
  font-size: 25px;
  color: rgb(128, 128, 128);
  margin-top: -1cm;
}

.profile_image {
  width: 550px;
  height: fit-content;
  vertical-align: middle;
  margin: 5px;
  gap: 20px;
}

/* Skills */

.all_skills {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.skill {
  border: 1px solid gray;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 20px;
  box-shadow: 0 3px 10px gray;
}

.skill img {
  height: 35px;
  align-items: center;
}

.skills h6 {
  align-items: center;
  font-size: 20px;
  margin-block-start: 8px;
  margin-block-end: 5px;
  font-weight: bold;
} 

.skills p {
  align-items: center;
  font-size: 15px;
  color: gray;
  margin-block-start: 5px;
  margin-block-end: 5px;
} 

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Projects */

.projects-container {
    padding: 20px;
}

.projects-container hr {
    height: 3px;
    background: #3b82f6;
    width: 60px;
    margin: 30px auto;
    border: none;
}

.project-card {
    border-left: 4px solid #3b82f6;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.project-card h3 {
    font-size: 22px;
    margin: 0 0 10px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.project-card li {
    font-size: 16px;
    margin-bottom: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* Recommendations */

.all_recommendations {
 
  
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    padding: 15px;
}

.recommendation {
    border-top: 3px solid rgb(12, 162, 237);
    padding: 15px;
    background: #f9fafb;
    height: 150px;
}

.recommendation span {
    color: rgb(12, 162, 237);
    font-weight: 700;
    font-size: 18px;
}

/* Scroll to Top Button */

.iconbutton{
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color:  rgb(12, 162, 237);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 3%;
  bottom: 3%;
  cursor: pointer;
}

/* Form Pop-up */

.popup {
  width:400px;
  background-color: #e8bcf0;
  border-radius: 3mm;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  position: fixed;
  /* padding: 30px; */
  visibility: hidden;
}

.popup img {
  padding-top: 20px;
}

.popup button {
  background-color: #fff;
  border: 1px solid  rgb(12, 162, 237);
  color:  rgb(12, 162, 237);
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 20px;
  margin-left: 25%;
}

.popup button:hover {
  background-color: #fff;
  border: 2px solid  rgb(12, 162, 237);
  color:  rgb(12, 162, 237);
  display: block;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
  margin-left: 25%;
}

/* Recommendation Form */

input, textarea {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  margin: 10px;  
  width:100%;
}

fieldset {
  display: flexbox;
  align-content: center;
  justify-content: center;  
  padding: 25px; 
  margin-left: 50px; 
  margin-right: 50px;   
  border: thin solid white;
  width: 50%;
}

/* Buttons */

button {
  background-color: #fff;
  border: 1px solid  rgb(12, 162, 237);
  color:  rgb(12, 162, 237);
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 20px;
}

button:hover {
  background-color:  rgb(12, 162, 237);
  border: 1px solid  rgb(12, 162, 237);
  color: #fff;
  display: block;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}

